# Scraping Pokemon Wikipedia articles

In [52]:
# import the needed libraries
import requests
import pandas as pd
import re
import os

In [62]:
# create article directory
directory = "\\articles"

parentDirectory = os.getcwdb().decode('utf-8')

path = parentDirectory + directory

try:
    os.mkdir(path)
except OSError as error:
    print("You've already created this Folder Dummy!")

In [54]:
df = pd.read_excel('generations/generation1.xls')

In [55]:
df

            Name
0    Bulbasaur †
1        Ivysaur
2       Venusaur
3    Charmander†
4     Charmeleon
..           ...
146      Dratini
147    Dragonair
148    Dragonite
149     Mewtwo ‡
150        Mew ♭

[151 rows x 1 columns]

In [56]:
# clean up data a bit
for i in range(len(df['Name'])):
    df['Name'][i] = re.sub(r'[^A-Za-z]', '', df['Name'][i])

In [57]:
df

           Name
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
146     Dratini
147   Dragonair
148   Dragonite
149      Mewtwo
150         Mew

[151 rows x 1 columns]

In [58]:
# get an article
url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/Pikachu' 
response = requests.get(url)
response.raise_for_status()

In [44]:
type(response.status_code)

int

In [59]:
with open('articles/Pikachu.pdf', 'wb') as f:
    f.write(response.content)

### Get articles for every Generation 1 pokemon 1

In [60]:
for pokemon in df['Name']:
    url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/' 
    response = requests.get(url + pokemon)
    if response.status_code != 200:
        continue

    with open(f'articles/{pokemon}.pdf', 'wb') as f:
        f.write(response.content)