# Scraping Pokemon Wikipedia articles

In [3]:
# import the needed libraries
import requests
import pandas as pd
import re
import os

In [4]:
# create article directory
directory = "\\articles"

parentDirectory = os.getcwdb().decode('utf-8')

path = parentDirectory + directory

try:
    os.mkdir(path)
except OSError as error:
    print("You've already created this Folder Dummy!")

You've already created this Folder Dummy!

In [5]:
df = pd.read_excel('generations/generation1.xls')

In [6]:
df

            Name
0    Bulbasaur †
1        Ivysaur
2       Venusaur
3    Charmander†
4     Charmeleon
..           ...
146      Dratini
147    Dragonair
148    Dragonite
149     Mewtwo ‡
150        Mew ♭

[151 rows x 1 columns]

In [7]:
# clean up data a bit
for i in range(len(df['Name'])):
    df['Name'][i] = re.sub(r'[^A-Za-z]', '', df['Name'][i])

In [8]:
df

           Name
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
146     Dratini
147   Dragonair
148   Dragonite
149      Mewtwo
150         Mew

[151 rows x 1 columns]

## Algorithm and Test

In [51]:
# get an article
url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/Pikachu%20(Pokémon)' 
response = requests.get(url)
response.raise_for_status()

In [33]:
type(response.status_code)

int

In [34]:
with open('articles/Pikachu.pdf', 'wb') as f:
    f.write(response.content)

### Get articles for every Generation 1 pokemon 1

In [ ]:
for pokemon in df['Name']:
    url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/' 
    url_ending = '%20(Pokémon)'
    response = requests.get(url + pokemon + url_ending)
    if response.status_code != 200:
        continue

    with open(f'articles/{pokemon}.pdf', 'wb') as f:
        f.write(response.content)

## Running the Code above lead me to discover that wikipedia doesn't have a unique article for every pokemon so I modifed the code above to all scrape the unique articles.

In [9]:
url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/Beedrill%20(Pokémon)' 
response = requests.get(url)
response.raise_for_status()
with open('articles/Beedrill.pdf', 'wb') as f:
    f.write(response.content)

In [10]:
unUniqueArticle = response.content

## New and Improved "Get article for every Generation 1 pokemon"

In [10]:
done = []
for pokemon in df['Name']:
    if pokemon not in done:
        done.append(pokemon)
    else:
        continue
    print("Pokemon:", pokemon)
    url = 'https://en.wikipedia.org/api/rest_v1/page/pdf/' 
    url_ending = '%20(Pokémon)'
    response = requests.get(url + pokemon + url_ending)
    if response.status_code != 200:
        continue

    if response.content == unUniqueArticle:
        continue

    with open(f'articles/{pokemon}.pdf', 'wb') as f:
        f.write(response.content)
        print("Article Dowloaded\n")

In [2]:
unUniqueArticle

NameError: name 'unUniqueArticle' is not defined

In [ ]:
done2 = []
for pokemon in df['Name']:
    if pokemon not in done2:
        done.append(pokemon)
    else:
        print(pokemon)
        continue